html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Scroll bar */
*::-webkit-scrollbar {
  display: none;
}