@import "mixins/grid";
.container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

@each $name, $value in $breakpoints {
  @include media($value) {
    @include create-columns(if($name == '', 'col-', '#{$name}-col-'), $number-of-columns);
    @include display(if($name != '', '#{$name}-', ''));
  }
}

