@import "mixins/grid";

.o-container {
  max-width: map-get($breakpoints, 'lg');
  padding-left: 3%;
  padding-right: 3%;
  margin: {
    left: auto;
    right: auto
  };

  * {
    box-sizing: border-box;
  }
}

@each $name, $value in $breakpoints {
  @include media($value) {
    @include create-columns(if($name == '', '-col', '-#{$name}-col'), $number-of-columns);
    @include display(if($name != '', '-#{$name}', ''));
    @include flex(if($name != '', '-#{$name}', ''));
  }
}
