@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function column-with-gap($gutter, $number-of-columns, $column-number) {
  $X: 100%/$number-of-columns;
  $Y: ($gutter * ($number-of-columns - 1) / $number-of-columns);
  @return calc(calc(calc(#{$X} - #{$Y}) * #{$column-number}) + #{$gutter * ($column-number - 1)});
}

@function column-without-gap($number-of-columns, $column-number) {
  $X: 100%/$number-of-columns;
  @return $X * $column-number;
}

@function offset-with-gap($gutter,$number-of-columns, $column-number) {
  $X: 100%/$number-of-columns;
  $Y: ($gutter * ($number-of-columns - 1) / $number-of-columns);
  @return calc(calc(calc(#{$X} - #{$Y}) * #{$column-number}) + #{$gutter * ($column-number)});
}

@function offset-without-gap($number-of-columns, $column-number) {
  $X: 100%/$number-of-columns;
  @return $X * $column-number;
}
