.a-button.-btn-link {
    text-decoration: none;
    color: var(--c-light);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: .5rem 0 .5rem 0;
    border-radius: var(--border-radius);
    z-index: 0;
}

.a-button.-btn-link:before {
    content: "";
    width: calc(100% + 26px);
    height: 45px;
    background-color: var(--c-primary);
    position: absolute;
    left: -13px;
    z-index: -1;
    bottom: 0;
    border-radius: var(--border-radius);
    transition: all .6s ease;
}

.a-button.-btn-link .a-icon {
    width: 20px;
    height: 20px;
    margin-left: 1.5rem;
}

.a-button.-btn-link:hover:before {
    width: 45px;
    border-radius: 45px;
    left: calc(100% - 33px);
}

