.o-footer {
    background-color: var(--c-medium-dark);
}

.o-footer .a-logo__icon-devler {
    background-image: url("../../devler.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(var(--logo-size) + 20px);
    width: calc(var(--logo-size) + 20px);
    cursor: pointer;
}

.o-footer .a-footer__title {
    white-space: nowrap;
}

.o-footer .a-footer__title span {
    opacity: .65;
}
.o-footer .a-footer__subtitle small:not(.-bold)  {
    opacity: .5;
}
