.o-targets {
    margin-top: -15rem;
}

.o-targets .m-target__wrapper {
    background-color: var(--c-medium-light);
    border-radius: var(--border-radius);
}

.o-targets [class*='a-icon'] {
    --icon-size: 45px;
    min-width: var(--icon-size);
}

.a-target__title {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0 0 .75rem 0;
}

.a-target__subtitle {
    opacity: .65;
    font-size: .875rem;
}
